.navigation {
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 70%;
    height: 75px;
    align-items: center;
    justify-content: space-around;
    background-color: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 55px;
}

.best_for_best_img {
    width: 130px;
    height: 75px;
}

.navigation ul {
    align-items: center;
    display: flex;
    gap: 30px;
}

.navigation ul, li, a {
    font-family: 'Montserrat';
    color: black;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    transition: ease-in-out .4s;
}

.navigation a:hover {
    color: #4AA453;
}

.prikol_1_nav {
    margin-top: -5px;
    padding-left: 100px;
    width: 33px;
    height: 33px;
}

.prikol_nav img  {
    margin-top:  1px;
    margin-left: 25px;
    width: 30px;
    height: 30px;
}


/*.Header_Logo {
    width: 130px;
    margin-top: 1.1%;
    margin-left: 4%;
}

.nav__link a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: black;
    line-height: 36px;
    top: 40px;
}

.nav__link a:hover {
    color: #4AA453;
}

.Nav_Link_Home {
    position: absolute;
    padding-left: 33px;
    margin-left: 23%;
}

.Nav_Link_About {
    position: absolute;
    padding-left: 33px;
    margin-left: 27.5%;
}

.Nav_Link_How_It {
    position: absolute;
    padding-left: 33px;
    margin-left: 33.5%;
}

.Nav_Link_Download {
    position: absolute;
    padding-left: 33px;
    margin-left: 40.5%;
}

.Acc_Button {
    position: absolute;
    left: 1504px;
    top: 40px;
}

.Acc_Button img {
    width: 33px;
    height: 33px;
}

.Find_Button {
    position: absolute;
    left: 1560px;
    top: 43px;
    background: none;
    border: none;
}

.Find_Button img {
    width: 27px;
    height: 27px;
}

.Find_Button img:hover {
    cursor: pointer;
} */