* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_us {
  background: url(/index_page/img/background.png);
  height: 776px;
}


.about_us_i {
  width: 721px;
  height: 800px;
  position: absolute;
  margin-left: 60%;
  margin-top: 0%;
}

.about_us_t {
  padding-top: 165px;
  padding-left: 18%;
  font-family: 'Montserrat';
  font-style: bold;  
  font-size: 38px;
}

.about_us_p {
  margin-left: 15%;
  width: 750px;
  font-family: 'Montserrat';
  font-style: medium;
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about_us_b {
  margin-left: 15%;
  background: #4AA453;
  width: 346px;
  height: 74px;
  border: none;
  border-radius: 55px;
}

.about_us_b a {
  font-family: 'Poppins';
  font-weight: medium;
  font-size: 32px;
  text-decoration: none;
  color: white;
}

.scroll_down img {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
}

.scroll_down img:hover {
  cursor: pointer;
}

@keyframes arrowDown {
    0% {
      bottom: 30px;
      opacity: 1;
    }
    100% {
      bottom: 0px;
      opacity: 0;
    }
}

footer {
  height: 100vh;
}