* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about_us {
  height: 776px;
}


.about_us_i {
  width: 721px;
  height: 800px;
  position: absolute;
  margin-left: 60%;
  margin-top: 0%;
}

.about_us_t {
  padding-top: 165px;
  padding-left: 18%;
  font-family: 'Montserrat';
  font-style: bold;  
  font-size: 38px;
}

.about_us_p {
  margin-left: 15%;
  width: 750px;
  font-family: 'Montserrat';
  font-style: medium;
  font-size: 32px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.about_us_b {
  margin-left: 15%;
  background: #4AA453;
  width: 316px;
  height: 59px;
  border: none;
  border-radius: 55px;
}

.about_us_b a {
  font-family: 'Poppins';
  font-weight: medium;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.about_us_b:hover {
  border: 1px solid black;
  transition: ease-in-out .4s;
  background: white;
}

.about_us_b a:hover {
  padding-left: 27px;
  color: black;
}

.about_us_img {
  padding-top: 5px;
}

.scroll_down img {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25px);
    animation: arrowDown 2s infinite;
}

.scroll_down img:hover {
  cursor: pointer;
}

@keyframes arrowDown {
    0% {
      bottom: 30px;
      opacity: 1;
    }
    100% {
      bottom: 0px;
      opacity: 0;
    }
}

.how_download {
  width: 100%;
  background: #111111;
  margin-top: 10%;
}

.how_download_tittle {
  padding-top: 58px;
  font-family: 'Poppins';
  color: white;
  text-align: center;
  font-size: 36px;
}

.step_tittle {
  font-family: 'Poppins';
  font-weight: 700;
  color: #E9E9E9;
  font-size: 48px;
  padding-top: 200px;
  padding-left: 203px;
}

.step_tittle1 {
  font-family: 'Poppins';
  font-weight: 700;
  color: #E9E9E9;
  font-size: 48px;
  padding-top: 200px;
  padding-left: 203px;  
}

.step_discription {
  width: 545px;
  height: 360px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 42px;
  color: #cdcdcd;
  padding-top: 5px;
  padding-left: 129px;
}

.step_discription span {
  color: #4AA453;
}

.step_img {
  margin-top: -25%;
  padding-left: 710px;
  margin-bottom: 5%;
}

.step_img3 {
  margin-left: 1010px;
  margin-top: -30%;
  margin-bottom: 3%;
  width: 475px;
  height: 755px;
}

.scroll_down_step img {
  width: 50px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 25px);
  animation: arrowDown 2s infinite;
}

.scroll_down_step img:hover {
  cursor: pointer;
}